body {
  background: #181719;
  width: 100%;
  padding: 0 2rem;
}

@media screen and (max-width: 375px) {
  body {
    padding: 0 2rem;
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
